<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog app</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <div id="image">
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="sticky note outline icon"></i>Blog Page</div>
                <a href="/" class="item">Home</a>
                <a href="/new" class="item">New Blog</a>
            </div>
        </div>
    
    
   
    
