<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header">NEW BLOG</div>
    <form class="ui form" action="/" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" placeholder="Title" name="blog[title]">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" placeholder="Image URL" name="blog[image]">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]"></textarea>
        </div>   
        <input class="ui teal basic button big" type="submit"> 
    </form>
</div>


<%- include('partials/footer') %>